.Navbar {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 100px;
	padding: 1rem;
	background-color: #A67951;
	position: fixed;
	height: 100%;
	border-right: 2px solid #f2e4e8;
}

.Navbar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	flex-grow: 1;
}

.Navbar li {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 6rem;
	margin-bottom: 1rem;
	cursor: pointer;
}

.navbar-icon {
	display: block;
	width: 50px;
	height: 50px;
	margin-bottom: 0.5rem;
	
}

.navbar-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: #f2e4e8;
	text-align: center;
	font-family: "Kalam", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 1.1rem;
}

.navbar-link:hover {
	filter: drop-shadow(0 0 2em #f2e4e8);
	text-decoration: underline;
}

.brand-container {
	display: flex;
	align-items: center;
	margin-top: auto;
	margin-bottom: 1rem;
	color: #f2e4e8;
	font-size: 0.7rem;
	opacity: 0.5;
}

.brand-container img {
	width: 16px;
	height: 16px;
	margin-right: 5px;
	padding-left: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-radius: 10%;
	background-color: #f2e4e8;
}
