.Navbar {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 6vw;
	height: 100%;
	padding: 1rem;
	background-color: #a67951;
	position: fixed;
	border-right: 2px solid #f2e4e8;
}

.Navbar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	flex-grow: 1;
}

.Navbar li {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10vh;
	margin-bottom: 1vh;
	cursor: pointer;
}

.navbar-icon {
	display: block;
	width: 4vw;
	height: 8vh;
	margin-bottom: 0.5rem;
}

.navbar-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: #f2e4e8;
	text-align: center;
	font-family: "Kalam", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 0.9rem;
}

.navbar-link:hover {
	filter: drop-shadow(0 0 2em #f2e4e8);
	text-decoration: underline;
}

.brand-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	margin-bottom: 1.2rem;
	color: #f2e4e8;
	font-size: 0.5rem;
	opacity: 0.5;
}

.brand-container img {
	width: 16px;
	height: 16px;
	margin-right: 5px;
	margin-bottom: 0.5vh;
	padding-left: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-radius: 10%;
	background-color: #f2e4e8;
}

@media (min-width: 550px) and (max-width: 1000px) {
	.Navbar {
		width: 50px;
	}

	.Navbar li {
		margin-top: 13vh;
		margin-bottom: 3vh;
	}

	.navbar-icon {
		width: 40px;
		height: 40px;
		margin-bottom: 0.8rem;
	}

	.navbar-link {
		font-size: 0.7rem;
	}

	.brand-container p {
		font-size: 0.5rem;
	}
}
@media (max-width: 550px) {
	.Navbar {
		width: 40px;
	}

	.Navbar li {
		margin-top: 15vh;
		margin-bottom: 4vh;
	}

	.navbar-icon {
		width: 40px;
		height: 40px;
		margin-bottom: 0.8rem;
	}

	.navbar-link {
		font-size: 0.7rem;
	}

	.brand-container p {
		font-size: 0.5rem;
	}
}
