/* STILI DELLE PAGINE */
.home-page,
.timer-page,
.video-page {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  width: calc(100% - 100px); 
  min-height: 100vh; 
  margin-left: 133px; 
  box-sizing: border-box;  
  padding: 0 20px;
}


/* HOME */
.home-page {
  flex-direction: column;  
}

h1{
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 70px;
  margin-bottom: 0;
  margin-top: 0;
  color: #A67951;
  text-shadow: 5px 5px 5px #d9a86c80;
}

.home-img {
  width: 350px;
  box-shadow: 5px 5px 13px #d9a86c80;
  border: 2px solid #A67951;
}

.home-content {    
  padding-top: 25px; 
  flex-grow: 1;
  display: flex;
  flex-direction: column;    
  text-align: center;
  font-size: 20px;  
  width: 100%;
}

.home-img-container {  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
  width: 100%;
}


/* TIMER */
.timer-page {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17rem;
  width: 100%;   
}

.timer-container{
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-top: 2rem;  
  padding-right: 2rem;
  font-size: 23px;
  text-align: center;
  max-width: 350px;
}

.input-field {
  height: 40px;
  width: 100%;
  max-width: 350px;
  margin-top: 30px;
  background-color: #9AA2A3;
  font-size: 20px;
}

.timer-btn-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.timer-btn {
  margin-right: 5px; 
  height: 40px;  
  width: 150px;
  font-size: 20px;
  margin-top: 30px;
  background-color: #A69576;
}

.timer-btn:hover {
  background-color: #756A4C;
}

.timer-btn:disabled {
  background-color: #403023;
}

.timer-container h2 {
  margin: 0;
  padding: 0;     
  font-size: 120px;
  color: #59422E;
}

.timer-img {
  max-width: 100%; 
  width: auto;
  height: auto; 
  max-height: 80vh;
  margin: 1rem;
  box-shadow: 5px 5px 13px #d9a86c80;
  border: 2px solid #A67951;
}

.timer-img-container {
  display: flex;
  align-items: center;
  justify-content: center;  
}


/* VIDEO */
.video-page{
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%; 
  height: 100vh;
  
}

.video-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 20px;
  width: 100%;  
}

.video-content p {
  padding: 0 100px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;  
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  box-shadow: 5px 5px 13px #d9a86c80;
  border: 2px solid #A67951;
}

iframe {
  width: 560px;
  height: 315px;
  border: 0;
}