/* STILI GENERALI */
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(0, 0, 0, 0.87);
	background-color: lightblue;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	display: flex;
	min-height: 100vh;
	margin: 0;
	font-family: var(--font-family);
	background-color: var(--background-color);
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		),
		url("./assets/mandala-background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#root {
	display: flex;
	flex: 1;
}
