/* STILI GENERALI */
:root {
	font-family: Roboto Condensed, Inter, system-ui, Avenir, Helvetica, Arial,
		sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(0, 0, 0, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	display: flex;
	box-sizing: border-box;
	min-height: 100vh;
	height: 100%;
	width: auto;
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	background-color: var(--background-color);
	background-image: url("./assets/mandala-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
	background-attachment: fixed;
	
}

#root {
	display: flex;
	flex: 1;
	min-height: 100vh;
	height: 100%;
	width: auto;
}

/* MEDIA QUERIES */
@media (min-width: 769px) and (max-width: 912px) {
	body {
		max-width: 912px;
		width: 100%;		
	}
}
@media (min-width: 601px) and (max-width: 768px) {
	body {
		max-width: 768px;
		width: 100%;		
	}
}
@media (min-width: 414px) and (max-width: 600px) {
	body {
		max-width: 600px;
		width: 100%;		
	}
}
@media (max-width: 413px) {
	body {
		max-width: 413px;
		width: 100%;		
	}
}
